{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h4 class="heading">Kirjailija elämäkerta ja muistelmat</h4>
      <div class="circle">
        <span>Kuva</span>
      </div>
      <div class="book">
        <h3 class="mt-4">{{ book.author }}</h5>
          <p>Tässä on lyhyt elämäkerta kirjailijasta ja linkkejä hänen verkkosivuilla ja sosiaalisiin profiileihinsa.
            Muokkaaksesi tietoja aiheesta
            kirjaa "Muokkaa"- ja "Lisää"-painikkeilla.</p>
          <h4 class="heading">Tietoja kirjasta «{{ book.title }}»</h4>
          <p>Tarkemmat tiedot julkaisusta. Kriitikoiden arvostelut, lukijoiden arvostelut, palkinnot ja
            kirjallisuuspalkinnot.</p>
      </div>
      <div class="col-xs-12 sidebutton-wrapper">
        <button type="button" class="btn btn-info">Kirjoittajan virallinen sivusto</button>
        <button type="button" class="btn btn-info">Lukijoiden arvostelut</button>
        <button type="button" class="btn btn-info">Profiili Goodreadsissa</button>
        <button type="button" class="btn btn-info">Kuvitukset ja kannet</button>
      </div>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2><i class="fa fa-book"></i> {{ book.title }}</h2>
      <h6>{{ book.created_at.strftime('%d-%m-%Y') }}</h6>
      <h4 class="heading">Minun arvostelu</h4>
      <h6>{% set stars = book.rating | int %}
        {% for n in range(stars) %}
        <span class="fa fa-star checked" style="color:orange"></span>
        {% endfor %}
      </h6>

      <div class="book-cover row justify-content-center  mb-4">
        <a href="{{ url_for('send_file', filename=book.cover) }}"><img
            src="{{ url_for('send_file', filename=book.cover) }}" class="rounded mr-2"
            alt="Kannet {{ book.title }}"></a>
        <a href="{{ url_for('send_file', filename='illustration.jpg') }}"><img
            src="{{ url_for('send_file', filename='illustration.jpg') }}" class="rounded mr-2"
            alt="Kannet {{ book.title }}"></a>
        <a href="{{ url_for('send_file', filename='illustration.jpg') }}"><img
            src="{{ url_for('send_file', filename='illustration.jpg') }}" class="rounded mr-2"
            alt="Kannet {{ book.title }}"></a>
      </div>
      <div>
        <h4 class="heading">Genre</h4>
        <div class="book-info mb-4">
          <p>{{ book.genre.title() }}</p>
        </div>
        <h4 class="heading">Juoni</h4>
        <div class="book-info mb-4">
          <p>{{ book.description }}</p>
        </div>
        <h4 class="heading">Huomautuksia</h4>
        <div class="book-info mb-4">
          <p>{{ book.notes }}</p>
        </div>
        <div class="text-center d-flex">
          <button type="button" class="btn btn-info btn-sm mr-4">
            <a href="{{ url_for('edit', book_id=book.id) }}" style="color:white; text-decoration:none"><i
                class="fas fa-pen"></i> Muuttaa</a>
          </button>

          <form action="{{ url_for('delete', book_id=book.id) }}" method="POST">
            <button class='btn btn-danger btn-sm' type="submit" value="Poistaa"
              onclick="return confirm('Poistetaanko kirja?')"><i class="fa fa-times"></i> Poistaa</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}